name: Django CI/CD - PythonAnywhere

on:
  push:
    branches:
      - main  

jobs:
  # ---------------------------------------------------
  # 1. PARTE DE TESTES (CI)
  # ---------------------------------------------------
  ci:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4 
      with:
        python-version: '3.13'   

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run Tests
      run: |
        export SECRET_KEY='chave-secreta-falsa-para-testes'
        export TARGET_ENV='dev'
        echo "SECRET_KEY=chave-secreta-falsa-para-testes" > .env
        echo "DEBUG=True" >> .env
        python manage.py test

  cd:
    needs: ci
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to PythonAnywhere via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ssh.pythonanywhere.com
        
        # Estas duas linhas usam os Segredos do GitHub (não mude o texto, mude lá nas configurações do GitHub)
        username: ${{ secrets.PA_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}

        script: |
          cd /home/oliver2307/FitSchool-FDS

          # 2. Baixa as atualizações do GitHub
          git pull origin main

          . /home/oliver2307/.virtualenvs/mysite-virtualenv/bin/activate  

          python manage.py migrate
          python manage.py collectstatic --noinput

          touch /var/www/oliver2307_pythonanywhere_com_wsgi.py
